*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  font-weight: normal;
  overflow-x: hidden;
  background-color: #08233b !important;
  color:#fff !important;
  scroll-behavior: smooth;
}
.card{
  background-color: #08233b !important;
  color:inherit !important;
;
}
.nav-container{
  top:0;
  z-index: 9999;
  background-color: #09263e !important;
}
a{
  color: inherit !important;
}
.max-w-90{
  max-width: 90% !important;
}
.rotate-hover{
  transition: transform 0.5s ease-in-out;
    display: inline-block;
}
.rotate-hover:hover{
transform: translateY(-10px) scale(1.1);
}
footer{
  background-color: #09263e !important;
}

