*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  font-weight: normal;
  overflow-x: hidden;
  /* background-color: #08233b !important; */
  /* background-color: #090e1a !important; */
  color:#fff !important;
  scroll-behavior: smooth;
  background: linear-gradient(145deg, #0b0f1a, #141c2c) !important;
}
.card{
  background-color: #090e1a !important;
  color:inherit !important;
}
.nav-container{
  top:0;
  z-index: 9999;
  background-color: #070a10 !important; 
}
a{
  color: inherit !important;
}
.bg-color{
  background-color: #090e1a;
}
.max-w-90{
  max-width: 90% !important;
}
.rotate-hover, .skill-container-elem{
  transition: transform 0.5s ease-in-out;
}
.rotate-hover:hover, .skill-container-elem:hover{
transform: translateY(-10px) scale(1.1);
}
footer{
  background-color: #070a10 !important;
}
h2{
  color: #00bcd4   !important
}
.about-setion, .skill-container, .hero-section, .contact-section, .project-section{
  background-color: #0b0f1a !important;
}